profile {
    padding: 60px;
    background-color: $sidemenu-background;
    display: block;

    img {
        border-radius: 50%;
    }

    label {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        font-size: 1.5em;
    }
}
