page-pro-version {
    .list-md .item-block.no-border .item-inner {
        border: 0px;
    }

    .label-price {
        font-size: 3em;
        color: #df5138;
        text-align: center;
        font-weight: bold;
    }

    .main-panel {
        background-color: #ececec;

        h3 {
            margin-top: 0px;
        }
    }

   .date .input-wrapper {
       flex-direction: row;
       margin-top: 20px;

       & > .label {
           margin: 0px;
           padding-top: 8px;
           padding-bottom: 8px;
       }

       ion-select {
           .select-placeholder, .select-text {
               padding-left: 10px;
               padding-right: 5px;
           }
       }
   }

}
