<!--
  Generated template for the ProVersion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Acheter la version Pro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  fullscreen="true">
  <div class="main-panel" padding>
    <h3>Acheter la version sans publicité!</h3>
    <p>
      <ion-label class="label-price">2.00 $</ion-label>
    </p>
  </div>
  <div padding>
    <h4>Informations de paiement</h4>
    <ion-list>
      <ion-item>
        <ion-label stacked>Nom sur la carte</ion-label>
        <ion-input [(ngModel)]="cardName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Numéro de la carte</ion-label>
        <ion-input [(ngModel)]="cardNumber" type="number"></ion-input>
      </ion-item>
      <ion-item class="date no-border">
        <ion-label stacked>Date d'expiration</ion-label>
        <ion-select class="month-select" [(ngModel)]="expirationMonth" cancelText="Annuler" placeholder="Mois">
          <ion-option value ="{{item.value}}" *ngFor="let item of months">{{item.text}}</ion-option>
        </ion-select>
        <ion-select [(ngModel)]="expirationYear" cancelText="Annuler" placeholder="Année">
          <ion-option *ngFor="let item of years">{{item.text}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <div *ngIf="error">
          <label class="error">{{error}}</label>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <!-- Empty div preventing Ionic from adding weird styles -->
  <div></div>
</ion-content>

<ion-footer class="full-width-action-button">
  <ion-toolbar>
    <button ion-button class="button button-block button-block-md button-md-primary" (click)="confirmPayment()">Confirmer le paiement</button>
  </ion-toolbar>
</ion-footer>
