ad-banner {
    .banner {
        height: 80px;
        padding: 0px;

        .toolbar-background {
            background-color: transparent;
        }

        .toolbar-content-md {
            height: 100%;
            text-align: center;

            img {
                height: 100%;
            }
        }
    }
}
