$ad-banner-height: 50px;

ad-banner {
    max-height: $ad-banner-height;
    padding: 0px;
    display: block;

    .toolbar-background {
        background-color: transparent;
    }

    .toolbar-content-md {
        height: $ad-banner-height;
        text-align: center;
        div {
            height: $ad-banner-height;
            
            img {
                height: 100%;
                width: auto;
            }
        }
    }
}
